html,
body {
    height: 100%;
    margin: 0;
}

.body {
    min-height: 100vh;
    background: url('./assets/earth_curvature.png') center/cover no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    color:azure;
}

.heading{
    margin-top: 1%;
    margin-left: 50px;
    color: rgb(129, 148, 224);
    font-size: 6em;
    font-family: 'Times New Roman', Times, serif;
    text-shadow:
     1px -1px 0 black,
     1px 1px 0 black;
    
}
.para{
    margin-left: 50px;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    text-shadow:
     1px -1px 0 black,
     1px 1px 0 black;
    
}
.globalwarming{
    position:relative;
    top:-420px;
    left:750px;

}

.heading2 {
    margin-left: 30px;
}

.panel {
    line-height: 1.5;
    margin-left: 40px;
    border-radius: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.panel--w50 {
    width: 50%;
}

.panel--w45 {
    width: 45%;
}

.panel--bg-light {
    background: rgba(116, 135, 156, 0.1);
}

.panel--bg-medium {
    background: rgba(116, 135, 156, 0.1);
}

.panel--co2 {
    margin-top: 40px;
    width: auto;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.globalwarming + .panel--co2 {
    margin-top: -25%;
}

.co2-image {
    width: 50%;
    margin-left: 10px;
}

.co2-text {
    max-width: 45%;
    margin-left: 10px;
}

.co2-row {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.co2-title {
    width: 50%;
    margin-left: 10px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-50 {
    margin-left: 50px;
}


.footer {
    background: rgba(116, 135, 156, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    margin-left: -10%;
    width: 120%;
}